.employeeForm-container {
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
  margin: auto;
  width: 200px;
}

.employeeForm-container > label {
  margin: 15px 0 10px;
}

.employeeForm-container > input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
  text-indent: 5px;
}

.employeeForm-container > fieldset {
  margin: 15px 0 0;
  border-radius: 5px;
  border: 1px solid #000;
}

.employeeForm-container > button {
  width: 50px;
  padding: 5px;
  margin: 15px auto;
  border-radius: 5px;
  border: 1px solid #000;
  cursor: pointer;
}

.employeeForm-container > button:hover {
  box-shadow: 1px 1px 1px #000;
}
